@media screen and (max-width: 1440px) and (min-width: 1340px){
    .container {
        display: block;
        margin: 0 auto;
        max-width: 90rem;
    }

    .d-flex {
        display: flex;
    }

    .cta-ctt-title {
        padding: 0 0 0 10rem;
    }

    .form {
        position: relative;
        top: 12rem;
        right: 0;
        left: -50rem;
    }
}

@media screen and (max-width: 1339px) and (min-width: 1024px){
    .container {
        display: block;
        margin: 0 auto;
        max-width: 90rem;
    }

    .d-flex {
        display: flex;
    }

    .cta-ctt-title {
        padding: 0 0 0 10rem;
    }

    .form {
        position: relative;
        top: 12rem;
        right: 0;
        left: -20rem;
    }
}

@media screen and (max-width: 1223px) and (min-width: 768px){
    .container {
        display: block;
        margin: 0 auto;
        max-width: 70rem;
    }

    .p-box-max {
        padding: 16rem 0;
    }

    .grid-3 {
        max-width: 56%;
    }
    
    .grid-6 {
        max-width: 70%;
    }

    .d-flex {
        display: flex;
    }

    .cta-ctt-title {
        padding: 0 0 0 10rem;
    }

    .form {
        position: relative;
        top: 12rem;
        right: 0;
        left: -20rem;
    }

    input, textarea {
        width: 30rem;
    }

    .owl-carousel .owl-stage-outer {
        margin-bottom: -14rem;
    }
    
}

@media screen and (max-width: 767px) and (min-width: 570px){
    .container {
        display: block;
        margin: 0 auto;
        max-width: 50rem;
    }

    .grid-3 {
        max-width: 56%;
    }

    .grid-5 {
        max-width: 67%;
    }
    
    .grid-6, .grid-10 {
        max-width: 100%;
    }

    .grid-9 {
        max-width: 90%;
    }

    .p-box-max, .p-box-max-2 {
        padding: 16rem 0;
    }

    .d-flex {
        display: flex;
    }

    .title {
        font-size: 4rem;
    }

    #btn-mobile, .ctt-hidden {
        display: block;
    }

    #btn-mobile:hover {
        transform: scale(1.2);
        transition: 300ms;
    }

    #menu {
        display: none;
        position: absolute;
        top: 7rem;
        right: 0;
        background: linear-gradient(180deg, #F2F2F2 10%, #6EC298 100%);
        padding: 1.6rem;
        z-index: 999;
        transition: ease-in-out 300ms;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.8rem;
        border-radius: 0 0 0 .5rem;
    }

    #menu.list-menu a {
        color:#0C1526;
        padding-bottom: 1rem;
    }

    #menu.list-menu li {
        padding-bottom: 6rem;
    }

    #nav.active-menu #menu {
        display: block;
        visibility: visible;
        overflow-y: auto;
    }

    .btn-nav {
        display: none;
    }

    .txt-max {
        font-size: 2.4rem;
    }

    .txt-med {
        font-size: 1.8rem;
    }

    .cta-ctt-title {
        padding: 0 0 0 10rem;
    }

    .form {
        position: relative;
        top: 12rem;
        right: 0;
        left: -20rem;
    }

    input, textarea {
        width: 30rem;
    }

    .contato-interno {
        align-items: end;
        flex-direction: column;
    }

    .p-box-ctt {
        padding: 12rem 0 15rem;
    }

    .form {
        position: relative;
        top: -10rem;
    }
}

@media screen and (max-width: 569px) and (min-width: 440px){
    .container {
        display: block;
        margin: 0 auto;
        max-width: 40rem;
    }

    .grid-3 {
        max-width: 70%;
    }

    .grid-5 {
        max-width: 80%;
    }
    
    .grid-6, .grid-10 {
        max-width: 100%;
    }

    .grid-9 {
        max-width: 90%;
    }

    .p-box-max {
        padding: 18rem 0 6rem;
    }

    .p-box-max-2 {
        padding: 6.4rem 0;
    }

    .d-flex {
        display: flex;
    }

    .title {
        font-size: 3.4rem;
    }

    .subtitle {
        font-size: 3rem;
    }

    .subtitle-min {
        font-size: 2.6rem;
    }

    #btn-mobile, .ctt-hidden {
        display: block;
    }

    #btn-mobile:hover {
        transform: scale(1.2);
        transition: 300ms;
    }

    #menu {
        display: none;
        position: absolute;
        top: 7rem;
        right: 0;
        background: linear-gradient(180deg, #F2F2F2 10%, #6EC298 100%);
        padding: 1.6rem;
        z-index: 999;
        transition: ease-in-out 300ms;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.8rem;
        border-radius: 0 0 0 .5rem;
    }

    #menu.list-menu a {
        color:#0C1526;
        padding-bottom: 1rem;
    }

    #menu.list-menu li {
        padding-bottom: 6rem;
    }

    #nav.active-menu #menu {
        display: block;
        visibility: visible;
        overflow-y: auto;
    }

    .btn-nav {
        display: none;
    }

    .txt-max {
        font-size: 2.2rem;
    }

    .txt-med {
        font-size: 1.8rem;
    }

    .owl-carousel .owl-item img {
        display: none;
    }

    .cta-ctt-title {
        padding: 0 0 0 10rem;
    }

    .form {
        position: relative;
        top: 12rem;
        left: -7rem;
    }

    input, textarea {
        width: 30rem;
    }

    .contato-interno {
        align-items: end;
        flex-direction: column;
    }

    .p-box-ctt {
        padding: 12rem 0 15rem;
    }

    .form {
        position: relative;
        top: -10rem;
    }
}


@media screen and (min-width:320px) and (max-width: 439px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 27rem;
    }

    .conexao-aya-logo, .icon-menu {
        width: 80%;
    }

    .grid-3 {
        max-width: 70%;
    }

    .grid-5 {
        max-width: 80%;
    }
    
    .grid-6, .grid-10 {
        max-width: 100%;
    }

    .grid-9 {
        max-width: 100%;
    }

    .d-flex {
        display: flex;
    }

    .p-box-max {
        padding: 18rem 0 6rem;
    }

    .p-box-max-2 {
        padding: 8rem 0;
    }

    .title {
        font-size: 2.3rem;
    }

    .subtitle {
        font-size: 2.8rem;
    }

    .subtitle-min {
        font-size: 2rem;
    }

    #btn-mobile, .ctt-hidden {
        display: block;
    }

    #btn-mobile:hover {
        transform: scale(1.2);
        transition: 300ms;
    }

    #menu {
        display: none;
        position: absolute;
        top: 7rem;
        right: 0;
        background: linear-gradient(180deg, #F2F2F2 10%, #6EC298 100%);
        padding: 1.6rem;
        z-index: 999;
        transition: ease-in-out 300ms;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.8rem;
        border-radius: 0 0 0 .5rem;
    }

    #menu.list-menu a {
        color:#0C1526;
        padding-bottom: 1rem;
    }

    #menu.list-menu li {
        padding-bottom: 6rem;
    }

    #nav.active-menu #menu {
        display: block;
        visibility: visible;
        overflow-y: auto;
    }

    .btn {
        padding: 1.6rem 2rem;
        font-size: 1.6rem;
    }

    .btn-nav {
        display: none;
    }

    .txt-max {
        font-size: 2.2rem;
    }

    .txt-med {
        font-size: 1.8rem;
    }

    .habilidades-interna {
        padding: 3.2rem 2.4rem 2.4rem;
        margin-bottom: 0.8rem;
    }

    .owl-carousel .owl-item img {
        display: none;
    }

    .cta-ctt-title {
        padding: 0 0 0 3rem;
    }

    .form {
        position: relative;
        top: 12rem;
        left: -7rem;
    }

    input, textarea {
        width: 25rem;
    }

    .contato-interno {
        align-items: end;
        flex-direction: column;
    }

    .p-box-ctt {
        padding: 12rem 0 15rem;
    }

    .form {
        position: relative;
        top: -10rem;
    }
}

@media screen and (max-width: 319px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 20rem;
    }

    .conexao-aya-logo, .icon-menu {
        width: 80%;
    }

    .grid-3 {
        max-width: 70%;
    }

    .grid-5 {
        max-width: 80%;
    }
    
    .grid-6, .grid-10 {
        max-width: 100%;
    }

    .grid-9 {
        max-width: 100%;
    }

    .d-flex {
        display: flex;
    }

    .p-box-max {
        padding: 18rem 0 6rem;
    }

    .p-box-max-2 {
        padding: 6.4rem 0;
    }

    .title {
        font-size: 2.3rem;
    }

    .subtitle {
        font-size: 2.8rem;
    }

    .subtitle-min {
        font-size: 2rem;
    }

    #btn-mobile, .ctt-hidden {
        display: block;
    }

    #btn-mobile:hover {
        transform: scale(1.2);
        transition: 300ms;
    }

    #menu {
        display: none;
        position: absolute;
        top: 7rem;
        right: 0;
        background: linear-gradient(180deg, #F2F2F2 10%, #6EC298 100%);
        padding: 1.6rem;
        z-index: 999;
        transition: ease-in-out 300ms;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.8rem;
        border-radius: 0 0 0 .5rem;
    }

    #menu.list-menu a {
        color:#0C1526;
        padding-bottom: 1rem;
    }

    #menu.list-menu li {
        padding-bottom: 6rem;
    }

    #nav.active-menu #menu {
        display: block;
        visibility: visible;
        overflow-y: auto;
    }

    .btn {
        padding: 1.6rem 2rem;
        font-size: 1.4rem;
        letter-spacing: .05rem;
    }

    .btn-nav {
        display: none;
    }

    .txt-max {
        font-size: 1.8rem;
    }

    .txt-med {
        font-size: 1.8rem;
    }

    .habilidades-interna {
        padding: 3.2rem 2.4rem 2.4rem;
        margin-bottom: 0.8rem;
    }

    .owl-carousel .owl-item img {
        display: none;
    }

    .cta-ctt-title {
        padding: 0 0 0 3rem;
    }

    .form {
        position: relative;
        top: 12rem;
        left: -7rem;
    }

    input, textarea {
        width: 20rem;
    }

    .contato-interno {
        align-items: end;
        flex-direction: column;
    }

    .p-box-ctt {
        padding: 12rem 0 15rem;
    }

    .form {
        position: relative;
        top: -10rem;
    }
}